@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-outfit: "Outfit", sans-serif; 
}


* {
    @apply font-outfit
}


 /* background: var(--chakra-colors-bg-subtle);
    color: var(--chakra-colors-bg-success) */
#react-doc-viewer, #header-bar, #proxy-renderer, #image-renderer, #pdf-controls{
  @apply  bg-[var(--chakra-colors-bg-subtle)]
}


#file-name, #doc-nav-info{
  @apply text-[var(--chakra-colors-fg)]
}


.rdv-pdf-controls {
  @apply bg-[var(--chakra-colors-bg-subtle)]! 
}

.rdv-toolbar-inner svg {
  /* fill: white !important; */
}

#doc-nav {
  @apply flex gap-3
}

#doc-nav .rdv-btn {
  @apply bg-transparent shadow-none text-red-200!
}

#doc-nav-prev svg,
#doc-nav-next svg,
#doc-nav-prev svg path,
#doc-nav-next svg path {
  fill: var(--chakra-colors-fg) !important;
}